/* .homestyle{
    width: 100%;
    height: 600px;
    display: flex;
    background-color: aqua;
}

.aboutstyle{
    width: 100%;
    height: 600px;
    display: flex;
    background-color: blue;
}

.servicestyle{
    width: 100%;
    height: 600px;
    display: flex;
    background-color: rgb(76, 88, 22);
}
.portfoliostyle{
    width: 100%;
    height: 600px;
    display: flex;
    background-color: rgb(205, 251, 0);
} */